MONGODB_URI="mongodb+srv://atlas-user:atlas-password@cluster0.example.mongodb.net/monblog?retryWrites=true&w=majority&appName=monblog"
MONGODB_DB_NAME="monblog"
MONGODB_POSTS_COLLECTION="posts"
MONGODB_POST_VOTES_COLLECTION="post_votes"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change-me"
ADMIN_SESSION_SECRET="change-this-secret"
